<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <div class = "header">
    <div class = "my_portfolio">My Portfolio</div>
    <%= link_to('signup_path') do %>
    <button class= 'login_btn' >ログイン</button>
    <% end %>
  </header>
  
  <body>
    <%= yield %>
  </body>
  
  <footer>
    <div class = "footer">user name portfolio site</div> 
  </footer>
  
</html>
